<div class="registration-form">
    <div class="registration-form__step registration-form__step--1">
        <p class="registration-form__steps">Etapa <span class="registration-form__actual-step">1</span> de 4:</p>
        <h2 class="registration-form__title">Seja bem vindo(a)</h2>
        <label class="registration-form__label" for="email">Endereço de e-mail</label>
        <input type="email" name="email" class="registration-form__input" placeholder="Digite seu e-mail" required data-validate="email" />
        
        <div class="registration-form__checkbox-group">
            <label>
                <input type="radio" name="user-type" value="pf" class="registration-form__checkbox" required data-validate="user_type" />
                Pessoa Física
            </label>
            <label>
                <input type="radio" name="user-type" value="pj" class="registration-form__checkbox" required data-validate="user_type" />
                Pessoa Jurídica
            </label>
        </div>
        
        <div class="registration-form__actions">
            <button class="registration-form__btn registration-form__btn--next">Continuar</button>
        </div>
    </div>

    <div class="registration-form__step registration-form__step--2" style="display:none;">
        <p class="registration-form__steps">Etapa <span class="registration-form__actual-step">2</span> de 4:</p>
        
        <div class="pfFields" style="display:none;">
            <h2 class="registration-form__title">Pessoa Física</h2>

            <label class="registration-form__label" for="name">Nome</label>
            <input type="text" name="name" class="registration-form__input" placeholder="Digite o nome" label="Nome" required data-validate="name" />
    
            <label class="registration-form__label" for="cpf_or_cnpj">CPF</label>
            <input type="text" name="cpf_or_cnpj" class="registration-form__input" placeholder="Digite o CPF" required data-validate="cpf_or_cnpj" />
    
            <label class="registration-form__label" for="birth_date">Data de nascimento</label>
            <input type="date" name="birth_date" class="registration-form__input" required data-validate="birth_date" />
        </div>

        <div class="pjFields" style="display:none;">
            <h2 class="registration-form__title">Pessoa Jurídica</h2>

            <label class="registration-form__label" for="name">Razão Social</label>
            <input type="text" name="name" class="registration-form__input" placeholder="Digite a razão social" required data-validate="name" />
    
            <label class="registration-form__label" for="cpf_or_cnpj">CNPJ</label>
            <input type="text" name="cpf_or_cnpj" class="registration-form__input" placeholder="Digite o CNPJ" required data-validate="cpf_or_cnpj" />
    
            <label class="registration-form__label" for="birth_date">Data de abertura</label>
            <input type="date" name="birth_date" class="registration-form__input" required data-validate="birth_date" />
        </div>

        <label class="registration-form__label" for="phone">Telefone</label>
        <input type="text" name="phone" class="registration-form__input" placeholder="Digite seu telefone" required data-validate="phone" />

        <div class="registration-form__actions">
            <button class="registration-form__btn registration-form__btn--prev">Voltar</button>
            <button class="registration-form__btn registration-form__btn--next">Continuar</button>
        </div>
    </div>

    <div class="registration-form__step registration-form__step--3" style="display:none;">
        <p class="registration-form__steps">Etapa <span class="registration-form__actual-step">3</span> de 4:</p>
        <h2 class="registration-form__title">Senha de acesso</h2>

        <label class="registration-form__label" for="password">Sua Senha</label>
        <input type="password" name="password" class="registration-form__input" placeholder="Digite sua senha" required data-validate="password" />

        <div class="registration-form__actions">
            <button class="registration-form__btn registration-form__btn--prev">Voltar</button>
            <button class="registration-form__btn registration-form__btn--next">Continuar</button>
        </div>
    </div>

    <div class="registration-form__step registration-form__step--4" style="display:none;">
        <p class="registration-form__steps">Etapa <span class="registration-form__actual-step">4</span> de 4:</p>
        <h2 class="registration-form__title">Revise suas informações</h2>

        <label class="registration-form__label" for="email">Endereço de e-mail</label>
        <input type="email" name="email" class="registration-form__input" placeholder="Digite seu e-mail" required data-validate="email" />

        <div class="pfFields" style="display:none;">
            <label class="registration-form__label" for="name">Nome</label>
            <input type="text" name="name" class="registration-form__input" placeholder="Digite o nome" required data-validate="name" />
    
            <label class="registration-form__label" for="cpf_or_cnpj">CPF</label>
            <input type="text" name="cpf_or_cnpj" class="registration-form__input" placeholder="Digite o CPF" required data-validate="cpf_or_cnpj" />
    
            <label class="registration-form__label" for="birth_date">Data de nascimento</label>
            <input type="date" name="birth_date" class="registration-form__input" required data-validate="birth_date" />
        </div>

        <div class="pjFields" style="display:none;">
            <label class="registration-form__label" for="name">Razão Social</label>
            <input type="text" name="name" class="registration-form__input" placeholder="Digite a razão social" required data-validate="name" />
    
            <label class="registration-form__label" for="cpf_or_cnpj">CNPJ</label>
            <input type="text" name="cpf_or_cnpj" class="registration-form__input" placeholder="Digite o CNPJ" required data-validate="cpf_or_cnpj" />
    
            <label class="registration-form__label" for="birth_date">Data de abertura</label>
            <input type="date" name="birth_date" class="registration-form__input" required data-validate="birth_date" />
        </div>

        <label class="registration-form__label" for="phone">Telefone</label>
        <input type="tel" name="phone" class="registration-form__input" placeholder="Digite seu telefone" required data-validate="phone" />

        <label class="registration-form__label" for="password">Sua Senha</label>
        <input type="text" name="password" class="registration-form__input" placeholder="Digite sua senha" required data-validate="password" />

        <div class="registration-form__actions">
            <button class="registration-form__btn registration-form__btn--prev">Voltar</button>
            <button class="registration-form__btn registration-form__btn--submit">Cadastrar</button>
        </div>
    </div>
</div>
